<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/user.css' />
    <title>User - add/edit user</title>
 
</head>
<body>
    <div class="loginContainer">
    <h1><%= info.mode %></h1>
    <form action="/user" method="POST">
        <div class="form-group">
           
            <div class="input-field"><input required value="<%= user.email %>" type="text" pattern="[^ @]*@[^ @]*" placeholder="Email"name="email" id="email" class="form-control inputStyle"></div>
        </div>
        <div class="form-group">
            
            <div class="input-field"><input name="password" id="password" type="password" placeholder="Password"class="form-control inputStyle" value="<%= user.password %>"></input></div>
        </div>
        <% if (info.mode == "Sign up") { %>
            <div class="form-group">
                
                <div class="input-field"><input required type="password" placeholder="confirm Password"name="confirmPassword" id="confirmPassword" class="form-control inputStyle"></div>
            </div>
        <% } %>

        
        <a href="/" class="btn btn-secondary cancel">Cancel</a>
        <button id="userSignInSignUp" type="submit" class="btn btn-primary buttonMovies" ><%= info.mode %></button>
        <input name="hidMode" id="hidMode" type="hidden" value="<%= info.mode %>">
        <input name="hidRedirectRoute" id="hidRedirectRoute" type="hidden" value="<%= redirectRoute %>">
    </form>
    <span class="userSp"> <a id="resetPasswordLink" href="/user/reset" >Forgot Password?</a></span>
    <span class="userSp">Don't have an account? <a id="createAccountLink" href="/user/signup/" >Sign up</a></span>
    <label id="errorMessage">
        <% if(error && error.message){ %>
            <%= error.message %>
        <% } %>
    </label>
</div>
    
    <script src="/javascripts/main.js"></script>
</body>
</html>